<!-- ======= Footer ======= -->
<footer id="footer">

	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="footer-info">
					<h3>Mealtin</h3>
					<p>
						<strong>Adresse:</strong>
						6 rue des Halles 68100, Mulhouse<br>
					</p>
					<p>
						<strong>Email:</strong>
						mealtin@contact.fr<br>
					</p>
					<p>
					<strong>Téléphone: </strong>03 89 61 45 93
					</p>

					<div class="social-links mt-3">
						<a href="https://www.facebook.com/MealtinPotes/?locale=fr_FR" class="fa-twitter fa-brands" alt="page Twitter">
							<i class="bx bxl-twitter"></i>
						</a>
						<a href="https://www.facebook.com/MealtinPotes/?locale=fr_FR" class="fa-facebook fa-brands" alt="Page Facebook de MealtinPotes">
							<i class="bx bxl-facebook"></i>
						</a>
						<a href="https://www.instagram.com/mealtinpotes/?hl=fr" class="fa-instagram fa-brands" alt="page instagram">
							<i class="bx bxl-instagram"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="copyright">
					&copy; Copyright
					<strong>
						<span>Meatin</span>
					</strong>. All Rights Reserved
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<a href="#" class="back-to-top d-flex align-items-center justify-content-center" aria-label="remonter tout en haut">
			<i class="fa-solid fa-circle-arrow-up" ></i>
		</a>
