<!-- ======= Footer ======= -->
<footer id="footer">

	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="footer-info">
					<h3>Mealtin</h3>
					<p>
						<strong>Adresse:</strong>
						6 rue des Halles 68100, Mulhouse<br>
					</p>
					<p>
						<strong>Email:</strong>
						mealtin@contact.fr<br>
					</p>
					<p>
					<strong>Téléphone: </strong>03 89 61 45 93
					</p>

					<div class="social-links mt-3">
						<a href="#" class="fa-twitter fa-brands">
							<i class="bx bxl-twitter"></i>
						</a>
						<a href="#" class="fa-facebook fa-brands">
							<i class="bx bxl-facebook"></i>
						</a>
						<a href="#" class="fa-instagram fa-brands">

							<i class="bx bxl-instagram"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="copyright">
					&copy; Copyright
					<strong>
						<span>Meatin</span>
					</strong>. All Rights Reserved
				</div>
				<div class="credits">
					<!-- All the links in the footer should remain intact. -->
					<!-- You can delete the links only if you purchased the pro version. -->
					<!-- Licensing information: https://bootstrapmade.com/license/ -->
					<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
					Designed by
						<a href="https://bootstrapmade.com/"> BootstrapMade</a>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
			<i class="fa-solid fa-circle-arrow-up"></i>
		</a>
