{% extends 'base.html.twig' %}

{% block title %}email de changement de mot de passe
{% endblock %}

{% block body %}
	<div class="text-center vh-100">
		<p class="m-5">
			Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
			    Ce lien expire dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam ou
			<a href="{{ path('app_forgot_password_request') }}">réessayer.</a>
		</p>
	</div>
{% endblock %}
