{% extends 'base.html.twig' %}

{% block title %}Réserver une table{% endblock %}
    {% block importmap %}	
    	{{ importmap(['reservation','app']) }}
    {% endblock %}
    
{% block body %}
<div class="m-3 scale-up-ver-top form">
{{form_start(form,{'attr': {'id': 'reservation_form'}})}}
{{form_rest(form)}}
<button class="btn btn-primary">Réserver</button>
{{form_end(form)}}
</div>
{% endblock %}
