<!-- ======= Footer ======= -->
<footer id="footer">

	<div class="footer-top">
		<div class="container">
			<div class="container">
				<div class="copyright">
					&copy; Copyright
					<strong>
						<span>Mealtin</span>
					</strong>. All Rights Reserved
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
			<i class="fa-solid fa-circle-arrow-up"></i>
		</a>
