<header>
	<nav class="navbar navbar-expand-lg ">
		<div class="container">
			<h1 class="logo text-center text-md-start">
				<a href="{{ path('app_home') }}">Mealtin</a>
			</h1>
			<button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-navicon"></i>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li>
						<a class="nav-link text-center" href="{{ path('app_admin') }}">Réservations</a>
					</li>
					<li>
						<a class="nav-link text-center" href="{{ path('app_admin_users') }}">Utilisateurs</a>
					</li>
					<li>
						<a class="nav-link text-center" href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
