<h1>Confirmation de modification</h1>

<p>Votre nouvelle réservation le
{{date| format_datetime ('full', 'none', locale ='fr') }}
	à
	{{time | date('H:i')}}
	pour
	{{guest}}
	{% if guest > 1 %}
		personnes
	{% else %}
		personne</p>
{% endif %}

<p>Cordialement le Mealtin</p>
