{% extends 'base.html.twig' %}

{% block title %}Ma page de profile
{% endblock %}

{% block body %}
	<div class="m-3 form flex-column">
		<h2>Page de profil</h2>
		{{ form_start(form) }}
		{{ form_rest(form) }}
		<button class="btn btn-primary">Mettre à jour</button>
		{{ form_end(form )}}
	</div>{% endblock %}
